<div class="App">
  <div class="inputGrid">
    <form (ngSubmit)="register()" [formGroup]="userForm">
      <label name="" todo>
        <input id="todo-input" formControlName="task" placeholder="Please Enter Todo" [value]="inputValue">
      </label>
      <button type="submit" [disabled]="userForm.invalid" class="formButton">Submit</button>
    </form>
  </div>
  <div class='listGrid'>
    <div class='list' *ngFor="let todo of todos">
      <div class='todoblock' [ngClass]="{checkedTodo : todo.complete}">
        <input type="checkbox" id="todo" name="todo" [checked]="todo.complete" (change)="checkedTodo(todo.id)">
        <span>{{todo.id}}. {{todo.task}}</span>
      </div>
      <div class='modificationContainer'>
        <div class='delete' (click)="delete(todo.id)">Delete</div>
        <div class='edit' (click)="edit(todo.id)">Edit</div>
      </div>
    </div>
  </div>
  <div *ngIf="isTaskCompleted; else NoList">
    <h5>Completed Task Lists</h5>
    <div *ngFor="let todo of completedTask">
      {{todo.task}}
    </div>
  </div>
  <ng-template #NoList>
    <h5>NO COMPLETED TASK</h5>
  </ng-template>

</div>